<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-7">
    <% @posts.each do |p| %>
      <h3><%= p.title %></h3>
      <%= p.excerpt %>
    <% end %>
  </div>
  <div class="col-md-4 offset-md-1">
    Archive stuff
  </div>
</div>
