<% content_for :sidebar_content do %>
  <h3>Other Posts</h3>
  <%- @sidebar_posts.each do |p| %>
    <%= p.title %>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= @post.title %>
<% end %>

<% content_for :page_subtitle do %>
  <div class="byline">
    by <a href="#">Samuel L. Jackson</a>, October 4th, 2018
  </div>
<% end %>

<article class="blog-post">
  <%= @post.body.html_safe %>
</article>
