<% content_for :page_title do %>
 About Us
<% end %>

<%content_for :hero_image do %>
 <%= image_path('chisels-in-row.jpg') %>
<% end %>

<h2>History</h2>

<p>
  Paul Sobszak, electrical engineer, media
  enthusiast, world traveler, musician, and
  consummate maker, launched a Twin
  Cities Maker website on January 6, 2009.
  The community that formed
  through the website forums began to meet
  casually later in January at the Anodyne
  Café and then the Common Roots Café in
  Minneapolis.
</p>

<p>
  During spring and summer of 2009, those
  meet-ups became semi-formal meetings.
  By midsummer a club had been formed to
  start raising funds to incorporate and
  open a small workshop.
</p>

<p>
  In early December 2009, our community
  was approached by another group, the
  recently incorporated Hack Factory of
  Minnesota, who were also seeking to open
  a community workshop. On December
  16th the groups voted unanimously to
  merge and to lease a portion of a space at
  3119 E. 26th Street in Minneapolis.
</p>

<p>
  On January 6th, 2010, a year to the day
  after the original website went up, we
  voted to expand our lease. We decided
  that our physical home would be called
  the "Hack Factory" and our community
  would be known as Twin Cities Maker.
</p>

<p>
  Our first group project was the
  Spoonapult, created for the Science
  Museum of Minnesota's 2009 Make: Day
  exhibition. While we were unable to
  exhibit our scale model of the iconic
  Spoonbridge and Cherry sculpture (which
  is a functional catapult), we had a grand
  time testing it on Raspberry Island, and
  reworked it for a successful demonstration
  at the 2010 Make: Day.
</p>

<p>
  Since that first project, our members have
  created a variety of group projects:
  "Bessie," a cow-headed sea monster and
  crowd favorite at the Aquatennial Milk
  Carton Boat Race, a life-sized
  "Operation" game, a mural for our shop,
  and many other collaborative works.
</p>
