// Styles for the Brochure section of the site.

.jumbotron-main {
  background-image: image-url('lathe-control.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $gray-200;
  font-family: "League Spartan";
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  h1 {
    //color: $white;
  }
}
