<!doctype html>
<html lang="en">
  <%= render "layouts/partials/head" %>
  <body>
    <div class="container nav-container">
      <%= render 'layouts/partials/top_nav' %>
    </div>
    <div class="container main-container">
      <%= yield %>
    </div>

    <%= render "layouts/partials/footer" %>
  </body>
</html>
