<% content_for :page_title do %>
  Membership
<% end %>

<%content_for :hero_image do %>
  <%= image_path('chisels-in-row.jpg') %>
<% end %>

<h2>Benefits of Membership</h2>

<p>Twin Cities Maker</p>
