<% content_for :page_title do %>
  Membership
<% end %>

<%content_for :hero_image do %>
  <%= image_path('chisels-in-row.jpg') %>
<% end %>

<h2>The Basics</h2>

<p>
  We should get Scott to write this for us.
</p>

<h3>Membership Options</h3>
