<% content_for :page_title do %>
  Membership
<% end %>

<%content_for :hero_image do %>
  <%= image_path('chisels-in-row.jpg') %>
<% end %>

<h2>Joining Twin Cities Maker</h2>

<p>insert copy here</p>
